.RightSideItem {
  margin: 20px 0;
  h4 {
    text-align: center;
  }

  & > div {
    border: 2px solid #000;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(113, 169, 113);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    & > p {
      width: 30%;
    }

    & > a {
      text-align: center;
      width: 30%;
      color: #fff;
      &:hover {
        color: #c3c1c1;
      }
    }
  }
}
